@{
    ViewBag.Title = "GroupSchedule";
}

<h2>GroupSchedule</h2>

@ViewBag.Group.Dequeue().Name

@ViewBag.Group.Dequeue().Name

<table>
    <tr>
@* @for (int i = 0; i< 3; i++)
 {
            <td>@ViewBag.Teachers.Dequeue().FirstName;</td>
          <td>  @ViewBag.ClassRooms.Dequeue().Name;</td>
          <td>  @ViewBag.SubjectNames.Dequeue();</td>
 }*@
   </tr> </table>
@*<br>
 @ViewBag.Teachers.Dequeue().FirstName
 @ViewBag.ClassRooms.Dequeue().Name
 @ViewBag.SubjectNames.Dequeue()
<br>
 @ViewBag.Teachers.Dequeue().FirstName
 @ViewBag.ClassRooms.Dequeue().Name
 @ViewBag.SubjectNames.Dequeue()

<br>
 @ViewBag.Teachers.Dequeue().FirstName
 @ViewBag.ClassRooms.Dequeue().Name
 @ViewBag.SubjectNames.Dequeue()*@

@*@foreach (var item in @ViewBag.test)
{
    @item.SubjectName
}*@

<div>
<table>
    <tr>
    <td>Понидельник</td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
        </tr>
        @{int HowMuch = @ViewBag.HowMuchInOnDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
            </tr>
            
        }
        </table></td>

<tr>
     <td>Вторник </td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
        </tr>
        @{HowMuch = @ViewBag.HowMuchInOnDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                  @if (@ViewBag.SubjectNames.Count > 0)
                {
                    <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
                    
                }
            </tr>
            
        }
        </table></td>

</tr>    

<tr>
     <td>Среда </td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
        </tr>
        @{HowMuch = @ViewBag.HowMuchInOnDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                @if (@ViewBag.SubjectNames.Count > 0)
                {
                    <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
                    
                }
            </tr>
            
        }
        </table></td>

</tr>    
       <tr>
     <td>Четверг </td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
        </tr>
        @{HowMuch = @ViewBag.HowMuchInOnDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                @if (@ViewBag.SubjectNames.Count > 0)
                {
                    <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
                    
                }
                
            </tr>
            
        }
        </table></td>

</tr>    
    <tr>
     <td>Пятница </td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
        </tr>
        @{HowMuch = @ViewBag.HowMuchInOnDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                  @if (@ViewBag.SubjectNames.Count > 0)
                {
                    <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
                    
                }
            </tr>
            
        }
        </table></td>

</tr>    

            
    </table>
</div>

