<div id="searchresults">


<div>
<table>
    <tr>
    <td>Понидельник</td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
            <td> Группа </td>
        </tr>
        @{int HowMuch = @ViewBag.HowMuchInOneDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                @if (@ViewBag.SubjectNames.Count > 0)
                {
                <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
             <td>@ViewBag.Group.Dequeue().Name</td>
                }
            </tr>
            
        }
        </table></td>

<tr>
     <td>Вторник </td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
            <td> Группа </td>
        </tr>
        @{HowMuch = @ViewBag.HowMuchInOneDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                  @if (@ViewBag.SubjectNames.Count > 0)
                {
                    <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
                      <td>@ViewBag.Group.Dequeue().Name</td>
                    
                }
            </tr>
            
        }
        </table></td>

</tr>    

<tr>
     <td>Среда </td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
            <td> Группа </td>
        </tr>
        @{HowMuch = @ViewBag.HowMuchInOneDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                @if (@ViewBag.SubjectNames.Count > 0)
                {
                    <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
                    <td>@ViewBag.Group.Dequeue().Name</td>
                    
                }
            </tr>
            
        }
        </table></td>

</tr>    
       <tr>
     <td>Четверг </td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
            <td> Группа </td>
        </tr>
        @{HowMuch = @ViewBag.HowMuchInOneDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                @if (@ViewBag.SubjectNames.Count > 0)
                {
                    <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
                    <td>@ViewBag.Group.Dequeue().Name</td>
                    
                }
                
            </tr>
            
        }
        </table></td>

</tr>    
    <tr>
     <td>Пятница </td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
            <td> Группа </td>
        </tr>
        @{HowMuch = @ViewBag.HowMuchInOneDay.Dequeue();}
        @for (int i = 0; i <= HowMuch; i++)
        {
            <tr>
                  @if (@ViewBag.SubjectNames.Count > 0)
                {
                    <td>@ViewBag.SubjectNames.Dequeue()</td>
            <td>@ViewBag.ClassRooms.Dequeue().Name</td>
            <td>@ViewBag.Teachers.Dequeue().FirstName</td>
                      <td>@ViewBag.Group.Dequeue().Name</td>
                    
                }
            </tr>
            
        }
        </table></td>

</tr>    

            
    </table>
</div>



    </div>